/* [project]/app/geistsans_9fc57718.module.css [app-client] (css) */
@font-face {
  font-family: geistSans;
  src: url("../media/GeistVF-s.p.7fe29570.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistSans Fallback;
  src: local(Arial);
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

.geistsans_9fc57718-module__E7HqPG__className {
  font-family: geistSans, geistSans Fallback;
}

.geistsans_9fc57718-module__E7HqPG__variable {
  --font-geist-sans: "geistSans", "geistSans Fallback";
}


/* [project]/app/geistmono_b9f59162.module.css [app-client] (css) */
@font-face {
  font-family: geistMono;
  src: url("../media/GeistMonoVF-s.p.a9159d35.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistMono Fallback;
  src: local(Arial);
  ascent-override: 69.97%;
  descent-override: 16.73%;
  line-gap-override: 7.61%;
  size-adjust: 131.49%;
}

.geistmono_b9f59162-module__dmiviG__className {
  font-family: geistMono, geistMono Fallback;
}

.geistmono_b9f59162-module__dmiviG__variable {
  --font-geist-mono: "geistMono", "geistMono Fallback";
}


/* [project]/app/globals.css [app-client] (css) */
@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: .5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input:-webkit-autofill {
    background-color: #0000 !important;
  }
}

button {
  cursor: pointer;
  border: none;
  background-color: #0000 !important;
}

@apply bg-transparent shadow-none outline-none;

.truncate-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  overflow: hidden;
}

.MuiPickersDay-root.Mui-selected {
  color: #fff !important;
  background-color: #7902df !important;
}

.MuiPickersDay-root:hover {
  background-color: #a352df !important;
}

.MuiButtonBase-root.MuiPickersDay-root:not(.Mui-selected) {
  color: #333 !important;
}

.MuiClock-root .Mui-selected, .MuiClockNumber-root.Mui-selected, .MuiPickersTimeClock-root .Mui-selected, .MuiTimeClock-root .Mui-selected {
  color: #fff !important;
  background-color: #7902df !important;
}

.MuiClock-root .MuiButtonBase-root:hover, .MuiPickersTimeClock-root .MuiButtonBase-root:hover, .MuiTimeClock-root .MuiButtonBase-root:hover {
  background-color: #a352df !important;
}

.MuiPickersToolbar-root .Mui-selected {
  color: #fff !important;
  background-color: #7902df !important;
}

.MuiDialogActions-root button {
  color: #7902df !important;
}

.MuiTimeClock-root::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.MuiTimeClock-root::-webkit-scrollbar-thumb {
  background-color: #7902df !important;
}


/*# sourceMappingURL=app_6cac5053._.css.map*/